<main>
    <div class="card">
        <div class="card-body">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link ">Home page</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link active">Catallog</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link disabled">FAQ page</a>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <div class="breadcrumb">
        <div class="breadcrumb-item">
            <a href="#">Home</a>
        </div>
        <div class="breadcrumb-item">
            <a href="#">Main</a>
        </div>
        <div class="breadcrumb-item">
            <a href="#">Skills</a>
        </div>
    </div>

    <hr>
    <div>
        <h6 class="m-3">Hello world <span class="badge text-bg-success rounded-pill">NEW</span></h6>
    </div>
    <hr class="my-5">

    <div class="alert alert-warning">
        Warning
    </div>

</main>