<main>
    <h1 class="text-center">Hello world</h1>
    <h2 class="text-end">secondary</h2>
    <h3>3 title</h3>
    <hr>
    <div class="display-1">Hello world</div>
    <div class="display-2">secondary</div>
    <div class="display-3 text-muted">3 title</div>
    <hr>



    <hr>
    <p class="text-primary">text</p>

    <hr>

    <div class="card">
        <div class="card-body">
            <button class="btn btn-info">text</button>
            <button class="btn btn-danger">text</button>
            <button class="btn btn-primary btn-lg">text</button>
            <button class="btn btn-outline-dark">text</button>
        </div>
    </div>


</main>