<main>
    <div class="row g-5">
        <div class="col-12">
            <div class="card text-bg-secondary">
                <div class="card-body">
                    <label class="form-label">Email adress</label>
                    <input class="form-control">
                    <div class="form-text text-danger">Error. You need to set corect email</div>
                </div>

            </div>

            <hr>
            <div class="col-12">
                <label class="form-label">Select role</label>
                <select class="form-select">
                    <option selected>Open list</option>
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                </select>

            </div>

            <hr>
            <div class="form-label">Select one phone:</div>
            <div class="form-check">
                <label class="form-check-label">Apple</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Nokia</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Siemens</label>
                <input name="food" type="radio" class="form-check-input">
            </div>
            <hr>

            <div class="form-label">Select phone:</div>
            <div class="form-check">
                <label class="form-check-label">Apple</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Nokia</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <div class="form-check">
                <label class="form-check-label">Siemens</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>
            <hr>


            <div class="form-check form-switch">
                <label class="form-check-label">Get bonus</label>
                <input name="food" type="checkbox" class="form-check-input">
            </div>

        </div>
    </div>

</main>