<main class="row gy-5 gx-2 text-bg-light">

    <div class="col-7">
        <div class="card text-bg-dark">
            <img class="card-img-top" src="https://picsum.photos/400/200" alt="#">
            <div class="card-body">
                <h5 class="card-title text-bg-primary">Product #54746</h5>
                <p class="text-bg-secondary">USB hub Type-C</p>
                <a href="\summary" class="btn btn-primary">Open</a>
            </div>
        </div>
    </div>


    <div class="col-6">
        <div class="card">
            <div class="card-header text-bg-primary">
                <div class="display-6">Menu</div>
            </div>

            <ul class="list-group ">
                <li class="list-group-item text-bg-warning">
                    <a class="btn btn-link" href="#">Summary</a>
                </li>
                <li class="list-group-item text-bg-warning">
                    <a class="btn btn-link" href="#">Work</a>
                </li>
                <li class="list-group-item text-bg-warning">
                    <a class="btn btn-link" href="#">Edition</a>
                </li>
            </ul>

            <div class="card-footer text-bg-primary">
                <button class="btn btn-primary btn-sm">Update list</button>
            </div>
        </div>
    </div>


    <div class="col-6">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="text-bg-secondary">
                        #id
                    </th>
                    <th class="text-bg-secondary">
                        name
                    </th>
                    <th class="text-bg-secondary">
                        age
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th>1</th>
                    <td>Jhon</td>
                    <td>35</td>
                </tr>
                <tr>
                    <th>2</th>
                    <td>Smit</td>
                    <td>34</td>
                </tr>
                <tr>
                    <th>3</th>
                    <td>Bill</td>
                    <td>21</td>
                </tr>
            </tbody>

        </table>
    </div>

    <section class="row gy-5 gx-2">
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">Title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click me!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-warning">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">Title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click me!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-warning">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">Title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click me!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-warning">
                <div class="card-header text-center">Header</div>
                <div class="card-body text-center">
                    <h6 class="card-title">Title</h6>
                    <p>This is content of our box</p>
                    <button class="btn btn-light">Click me!</button>
                </div>
                <div class="card-footer text-center">Footer</div>
            </div>
        </div>
    </section>



</main>